body {
    text-align: center;
    padding-top: 200px;
}

div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    margin-right: 5px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea {
    resize: none;
}